<aside>

    <div class="toggle">
        <div class="logo">
            <img src="~/images/logo.png">
            <h2>IFS<span class="danger">User</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">
                close
            </span>
        </div>
    </div>

    <div class="sidebar">
        <a href="~/User/Dashboard/Index" id="Dashboard">
            <span class="material-icons-sharp">
                dashboard
            </span>
            <h3>Ana Sayfa</h3>
        </a>
        <a href="~/User/Account/Index" id="Account">
            <span class="material-icons-sharp">
                settings
            </span>
            <h3>Ayarlar</h3>
        </a>
        <a href="~/Auth/Login/Logout">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Çıkış Yap</h3>
        </a>
    </div>

</aside>