@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #bcc0cf;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #aeb5be;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside {
    height: 100vh;
}

    aside .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem;
    }

        aside .toggle .logo {
            display: flex;
            gap: 0.5rem;
        }

            aside .toggle .logo img {
                width: 2rem;
                height: 2rem;
            }

        aside .toggle .close {
            padding-right: 1rem;
            display: none;
        }

    aside .sidebar {
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow);
        border-radius: 15px;
        height: 88vh;
        position: relative;
        top: 1.5rem;
        transition: all 0.3s ease;
    }

        aside .sidebar:hover {
            box-shadow: none;
        }

        aside .sidebar a {
            display: flex;
            align-items: center;
            color: var(--color-info-dark);
            height: 3.7rem;
            gap: 1rem;
            position: relative;
            margin-left: 2rem;
            transition: all 0.3s ease;
        }

            aside .sidebar a span {
                font-size: 1.6rem;
                transition: all 0.3s ease;
            }

            aside .sidebar a:last-child {
                position: absolute;
                bottom: 2rem;
                width: 100%;
            }

            aside .sidebar a.active {
                width: 100%;
                border-radius: var(--border-radius-2);
                color: var(--color-primary);
                background-color: var(--color-light);
                margin-left: 0;
            }

                aside .sidebar a.active::before {
                    content: '';
                    width: 6px;
                    height: 18px;
                    background-color: var(--color-primary);
                }

                aside .sidebar a.active span {
                    color: var(--color-primary);
                    margin-left: calc(1rem - 3px);
                }

            aside .sidebar a:hover {
                color: var(--color-primary);
            }

                aside .sidebar a:hover span {
                    margin-left: 0.6rem;
                }

main {
    margin-top: 1.4rem;
}

    main .weather {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
    }

        main .weather > div {
            background-color: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            margin-top: 1rem;
            box-shadow: var(--box-shadow);
            cursor: pointer;
            transition: all 0.3s ease;
        }

            main .weather > div:hover {
                box-shadow: none;
            }

            main .weather > div .status {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

        main .weather h3 {
            margin-left: 0.6rem;
            font-size: 1rem;
        }

        main .weather .current-weather .status .weather-condition {
            display: flex;
            margin-left: 10px;
        }

            main .weather .current-weather .status .weather-condition .weather-condition-status {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                min-height: 100px;
            }

            main .weather .current-weather .status .weather-condition .weather-condition-status .weather-condition-mainstatus {
                width:130px;
            }

                main .weather .current-weather .status .weather-condition .weather-condition-status .weather-condition-temperature {
                    display: flex;
                    flex-direction: row;
                }

            main .weather .current-weather .status .weather-condition .weather-condition-status-image img {
                height: 80px;
                width: 80px;
                padding-right: 1rem;
            }

        main .weather .current-weather .status .info {
            position: absolute;
            top: 0;
            right: 0;
        }

            main .weather .current-weather .status .info .location, .date, .hour {
                display: flex;
                flex-direction: row;
            }

                main .weather .current-weather .status .info .location svg {
                    margin-top: 0.3rem;
                }

            main .weather .current-weather .status .info .date svg {
                margin-top: 0.3rem;
            }

            main .weather .current-weather .status .info .hour svg {
                margin-top: 0.3rem;
            }

    main .weekly-weather {
        width: 550px !important;
        margin-top: 1.3rem;
    }

        main .weekly-weather .weather-list {
            background-color: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            margin-top: 1rem;
            box-shadow: var(--box-shadow);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1.4rem;
            cursor: pointer;
            transition: all 0.3s ease;
        }

            main .weekly-weather .weather-list:hover {
                box-shadow: none;
            }

            main .weekly-weather .weather-list .weather-chart {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 50px;
            }

        main .weekly-weather .user-list .weather-chart img {
            width: 5rem;
            height: 5rem;
            margin-bottom: 0.4rem;
            border-radius: 50%;
        }

    main .weather-forecast-filter {
        margin-top: 1.3rem;
    }

        main .weather-forecast-filter .input-list {
            background-color: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            margin-top: 1rem;
            box-shadow: var(--box-shadow);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1.4rem;
            cursor: pointer;
            transition: all 0.3s ease;
        }

            main .weather-forecast-filter .input-list:hover {
                box-shadow: none;
            }

            main .weather-forecast-filter .input-list .input {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

                main .weather-forecast-filter .input-list .input input, button {
                    background-color: var(--color-white);
                    color: var(--color-dark-variant);
                    transition: all 0.3s ease;
                }

                    main .weather-forecast-filter .input-list .input input::placeholder {
                        color: var(--color-dark-variant);
                    }

            main .weather-forecast-filter .input-list .filter-form {
                display: flex;
                flex-direction: row;
            }

                main .weather-forecast-filter .input-list .filter-form .input {
                    border: 1px solid #c3c3c3;
                    border-radius: 10px;
                    padding: 0.5rem;
                    margin-left: 4rem;
                }

                main .weather-forecast-filter .input-list .filter-form button {
                    background-color: transparent;
                }

            main .weather-forecast-filter .input-list .search {
                position: relative;
                border: 1px solid #c3c3c3;
                border-radius: 10px;
                padding: 0.5rem;
                margin-left: 4rem;
            }

                main .weather-forecast-filter .input-list .search img {
                    width: 1rem !important;
                    height: 1rem !important;
                }

                main .weather-forecast-filter .input-list .search input {
                    margin-left: 1rem;
                }

                main .weather-forecast-filter .input-list .search .search-append {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 2.25rem;
                    width: 1.5rem;
                    color: #000 !important;
                    background-color: #9dff95;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

    main .weather-forecast {
        margin-top: 1.3rem;
    }

        main .weather-forecast h2 {
            margin-bottom: 0.8rem;
        }

        main .weather-forecast table {
            background-color: var(--color-white);
            width: 100%;
            padding: var(--card-padding);
            text-align: center;
            box-shadow: var(--box-shadow);
            border-radius: var(--card-border-radius);
            transition: all 0.3s ease;
        }

            main .weather-forecast table:hover {
                box-shadow: none;
            }

    main table thead tr {
        height: 2.8rem;
        border-bottom: 1px solid var(--color-light) !important;
        color: var(--color-dark-variant);
    }

.table-delete-link {
    font-size: 22px;
}

main table tbody tr {
    height: 2.8rem;
    color: var(--color-dark-variant);
}

    main table tbody tr:last-child td {
        border: none;
    }

main .weather-forecast a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

main .weather-forecast table tbody tr td:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-dark);
}

    main .weather-forecast table tbody tr td:last-child img {
        margin-left: 20px;
        height: 60px;
        width: 60px;
    }

.weather-info-checkbox input {
    margin-top: 0.3rem;
}

main .user-filter {
    margin-top: 1.3rem;
}

    main .user-filter .input-list {
        background-color: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.4rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        main .user-filter .input-list:hover {
            box-shadow: none;
        }

        main .user-filter .input-list .input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

            main .user-filter .input-list .input input, button {
                background-color: var(--color-white);
                color: var(--color-dark-variant);
                transition: all 0.3s ease;
            }

                main .user-filter .input-list .input input::placeholder {
                    color: var(--color-dark-variant);
                }

        main .user-filter .input-list .filter-form {
            display: flex;
            flex-direction: row;
        }

            main .user-filter .input-list .filter-form .input {
                border: 1px solid #c3c3c3;
                border-radius: 10px;
                padding: 0.5rem;
                margin-left: 4rem;
            }

            main .user-filter .input-list .filter-form button {
                background-color: transparent;
            }

        main .user-filter .input-list .search {
            position: relative;
            border: 1px solid #c3c3c3;
            border-radius: 10px;
            padding: 0.5rem;
            margin-left: 4rem;
        }

            main .user-filter .input-list .search img {
                width: 1rem !important;
                height: 1rem !important;
            }

            main .user-filter .input-list .search input {
                margin-left: 1rem;
            }

main .user {
    margin-top: 1.3rem;
}

    main .user h2 {
        margin-bottom: 0.8rem;
    }

    main .user table {
        background-color: var(--color-white);
        width: 100%;
        padding: var(--card-padding);
        text-align: center;
        box-shadow: var(--box-shadow);
        border-radius: var(--card-border-radius);
        transition: all 0.3s ease;
    }

        main .user table:hover {
            box-shadow: none;
        }

main .user a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.user-info-checkbox input {
    margin-top: 0.3rem;
}

main .user-log-filter {
    margin-top: 1.3rem;
}

    main .user-log-filter .input-list {
        background-color: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.4rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        main .user-log-filter .input-list:hover {
            box-shadow: none;
        }

        main .user-log-filter .input-list .input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

            main .user-log-filter .input-list .input input, button {
                background-color: var(--color-white);
                color: var(--color-dark-variant);
                transition: all 0.3s ease;
            }

                main .user-log-filter .input-list .input input::placeholder {
                    color: var(--color-dark-variant);
                }

        main .user-log-filter .input-list .filter-form {
            display: flex;
            flex-direction: row;
        }

            main .user-log-filter .input-list .filter-form .input {
                border: 1px solid #c3c3c3;
                border-radius: 10px;
                padding: 0.5rem;
                margin-left: 4rem;
            }

            main .user-log-filter .input-list .filter-form button {
                background-color: transparent;
            }

        main .user-log-filter .input-list .search {
            position: relative;
            border: 1px solid #c3c3c3;
            border-radius: 10px;
            padding: 0.5rem;
            margin-left: 4rem;
        }

            main .user-log-filter .input-list .search img {
                width: 1rem !important;
                height: 1rem !important;
            }

            main .user-log-filter .input-list .search input {
                margin-left: 1rem;
            }

main .user-log {
    margin-top: 1.3rem;
}

    main .user-log h2 {
        margin-bottom: 0.8rem;
    }

    main .user-log table {
        background-color: var(--color-white);
        width: 100%;
        padding: var(--card-padding);
        text-align: center;
        box-shadow: var(--box-shadow);
        border-radius: var(--card-border-radius);
        transition: all 0.3s ease;
    }

        main .user-log table:hover {
            box-shadow: none;
        }

    main .user-log a {
        text-align: center;
        display: block;
        margin: 1rem auto;
        color: var(--color-primary);
    }

.user-log-info-checkbox input {
    margin-top: 0.3rem;
}


.right-section {
    margin-top: 1.4rem;
}

    .right-section .nav {
        display: flex;
        justify-content: end;
        gap: 2rem;
    }

        .right-section .nav button {
            display: none;
        }

    .right-section .dark-mode {
        background-color: var(--color-light);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.6rem;
        width: 4.2rem;
        cursor: pointer;
        border-radius: var(--border-radius-1);
    }

        .right-section .dark-mode span {
            font-size: 1.2rem;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .right-section .dark-mode span.active {
                background-color: var(--color-primary);
                color: white;
                border-radius: var(--border-radius-1);
            }

    .right-section .nav .profile {
        display: flex;
        gap: 2rem;
        text-align: right;
    }

        .right-section .nav .profile .profile-photo {
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 50%;
            overflow: hidden;
        }

#add-data-modal {
    top: 15%;
    left: 66%;
    background: white;
    border: 1px solid #c3c3c3;
    border-radius: 1.2rem;
    z-index: 10;
    height: 120px;
}

    #add-data-modal .modal-content {
        padding: 20px;
    }

    #add-data-modal .modal-close-btn {
        transition: color 0.4s ease-in-out;
        position: absolute;
        top: 5%;
        right: 3%;
        background-color: transparent;
    }

        #add-data-modal .modal-close-btn:hover {
            color: #6C9BCF;
        }

    #add-data-modal .modal-content .input-group {
        display: flex;
        flex-direction: row;
    }

        #add-data-modal .modal-content .input-group .input {
            margin: 10px 10px 5px 0;
            padding: 5px;
            border: 1px solid #c3c3c3;
            border-radius: 0.8rem;
        }

    #add-data-modal .modal-content .modal-button {
        transition: background-color 0.8s ease-in-out;
        position: absolute;
        bottom: 10%;
        right: 8%;
        height: 25px;
        width: 50px;
        border: 1px solid #c3c3c3;
        border-radius: 1.2rem;
        background-color: transparent;
    }

        #add-data-modal .modal-content .modal-button:hover {
            background-color: #6C9BCF;
        }

#edit-city-modal {
    top: 18%;
    left: 18.7%;
    background: white;
    border: 1px solid #c3c3c3;
    border-radius: 1.2rem;
    z-index: 10;
    height: 120px;
}

    #edit-city-modal .modal-content {
        padding: 20px;
    }

    #edit-city-modal .modal-close-btn {
        transition: color 0.4s ease-in-out;
        position: absolute;
        top: 5%;
        right: 3%;
        background-color: transparent;
    }

        #edit-city-modal .modal-close-btn:hover {
            color: #6C9BCF;
        }

    #edit-city-modal .modal-content .input-group {
        display: flex;
        flex-direction: row;
    }

        #edit-city-modal .modal-content .input-group .input {
            margin: 10px 10px 5px 0;
            padding: 5px;
            border: 1px solid #c3c3c3;
            border-radius: 0.8rem;
        }

    #edit-city-modal .modal-content .modal-button {
        transition: background-color 0.8s ease-in-out;
        position: absolute;
        bottom: 10%;
        right: 2%;
        height: 25px;
        width: 60px;
        border: 1px solid #c3c3c3;
        border-radius: 1.2rem;
        background-color: transparent;
    }

        #edit-city-modal .modal-content .modal-button:hover {
            background-color: #6C9BCF;
        }


main .account {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

    main .account > div {
        background-color: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        transition: all 0.3s ease;
    }

        main .account > div:hover {
            box-shadow: none;
        }

        main .account > div .profile {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    main .account h3 {
        margin-left: 0.6rem;
        font-size: 1rem;
    }

main .profile-settings .profile form {
    display: flex;
}

    main .profile-settings .profile form .input-password-group {
        position: relative;
    }

    main .profile-settings .profile form .input-group {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

        main .profile-settings .profile form .input-group input {
            border: 1px solid #c3c3c3;
            border-radius: var(--card-border-radius);
            margin-top: 10px;
            padding: 5px;
        }

        main .profile-settings .profile form .input-group button {
            transition: background-color ease-in-out 0.8s;
            position: absolute;
            bottom: 6%;
            right: 8%;
            border: 1px solid #c3c3c3;
            border-radius: var(--card-border-radius);
            color: var(--color-dark);
            padding: 5px;
        }

            main .profile-settings .profile form .input-group button:hover {
                cursor: pointer;
                background-color: #6C9BCF;
            }

        main .profile-settings .profile form .input-group a {
            position: absolute;
            top: -5%;
            right: -5%;
            color: var(--color-dark);
        }

main .account-security {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
}

    main .account-security > div {
        background-color: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        transition: all 0.3s ease;
    }

        main .account-security > div:hover {
            box-shadow: none;
        }

        main .account-security > div .profile {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    main .account-security h3 {
        margin-left: 0.6rem;
        font-size: 1rem;
    }

main .security-settings .security form {
    display: flex;
}

    main .security-settings .security form .input-password-group {
        position: relative;
    }

    main .security-settings .security form .input-group {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

        main .security-settings .security form .input-group input {
            border: 1px solid #c3c3c3;
            border-radius: var(--card-border-radius);
            margin-top: 10px;
            padding: 5px;
        }

        main .security-settings .security form .input-group button {
            transition: background-color ease-in-out 0.8s;
            position: absolute;
            bottom: 6%;
            right: 8%;
            border: 1px solid #c3c3c3;
            border-radius: var(--card-border-radius);
            color: var(--color-dark);
            padding: 5px;
        }

            main .security-settings .security form .input-group button:hover {
                cursor: pointer;
                background-color: #6C9BCF;
            }

        main .security-settings .security form .input-group a {
            position: absolute;
            top: -5%;
            right: -5%;
            color: var(--color-dark);
        }



@media screen and (max-width: 1200px) {
                .container {
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

        aside .sidebar a:last-child {
            position: relative;
            margin-top: 1.8rem;
        }

    main .weather-forecast {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

        main .weather-forecast table {
            width: 83vw;
        }

    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside {
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

        aside .logo h2 {
            display: inline;
        }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

        aside .sidebar a:last-child {
            position: absolute;
            bottom: 5rem;
        }

    aside .toggle .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

        main .weather-forecast {
            position: relative;
            margin: 3rem 0 0 0;
            width: 100%;
        }

            main .weather-forecast table {
                width: 100%;
                margin: 0;
            }

    .right-section {
        width: 94%;
        margin: 0 auto 4rem;
    }

        .right-section .nav {
            position: fixed;
            top: 0;
            left: 0;
            align-items: center;
            background-color: var(--color-white);
            padding: 0 var(--padding-1);
            height: 4.6rem;
            width: 100%;
            z-index: 2;
            box-shadow: 0 1rem 1rem var(--color-light);
            margin: 0;
        }

            .right-section .nav .dark-mode {
                width: 4.4rem;
                position: absolute;
                left: 66%;
            }

            .right-section .nav button {
                display: inline-block;
                background-color: transparent;
                cursor: pointer;
                color: var(--color-dark);
                position: absolute;
                left: 1rem;
            }

                .right-section .nav button span {
                    font-size: 2rem;
                }
}
