@model WeatherForecast.Areas.Admin.Models.UserSecurityVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Güvenlik Ayarları</h2>
<!-- Account Settings -->
<div class="account-security">
    <div class="security-settings">
        <div class="security">
            <form method="post" asp-action="ChangePassword">
                <div class="input-password-group">
                    <div class="input-group">
                        <label asp-for="NewPassword">Yeni Şifre</label>
                        <input type="password" asp-for="NewPassword" />
                    </div>
                    <div class="input-group">
                        <label asp-for="Password">Mevcut Şifre</label>
                        <input type="password" asp-for="Password" />
                    </div>
                    <div class="input-group">
                        <label asp-for="ConfirmPassword">Mevcut Şifreyi Tekrar Girin</label>
                        <input type="password" asp-for="ConfirmPassword" />
                    </div>
                    <div class="input-group">
                        <button type="submit" class="form-button">Güncelle</button>
                    </div>
                    <div class="input-group">
                        <a href="~/Admin/Account/Index" class="form-security-icon">
                            Profil
                            <span class="menu-icon iconify" data-icon="mdi-arrow-right">
                            </span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
